.nav-bar {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style: none;
  width: 25%;
  justify-content: space-between;
}

a {
  text-decoration-color: blue;
  color: blue;
}

.headingStyle {
  font-size: 38px;
  font-weight: 700;
}

.border {
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 0 15px;
}
