body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.Outer-Container {
  border: 1px solid black;
  width: 320px;
  height: 300px;
  margin: 100px 0 100px 450px;
}

.Inner-Container {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  color: #fff;
  background-color: #bbb;
}

.btn-orange {
  background-color: #fe9600;
}

.btn {
  width: 80px;
  height: 50px;
}

.zero {
  width: 160px;
  height: 50px;
}
